.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  width: 70%;
  margin: 0 auto 2rem;

  h2 {
    margin: 0 0 1rem 0;
  }

  ul {
    width: 80%;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
  }
}
