h1 {
  text-align: center;
  margin: 2rem 0;
}

h3 {
  text-align: center;
}

.informacion {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
  margin: auto;
}
